:root {
  --primary: #1a4d2e;
  --secondary: #eb6767;
  --light: #f6f7f8;
  --dark: #30393f;
  --darken: #000000;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #f1e7e7;
}

.container-fluid {
  padding-left: 70px;
  padding-right: 70px;
}

.btn {
  background-color: var(--primary);
  color: var(--light);
  font-weight: 500;
  font-size: 14px;
  border-radius: 8px;
  border: 0px;
}

.btn-big {
  filter: drop-shadow(4px 4px 8px #666565);
  height: 3rem;
  width: 10em;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: var(--darken);
  border-radius: 25px;
  color: var(--light);
}

.btn:hover {
  color: var(--light);
  background-color: #24613d;
}

.btn-center {
  text-align: center;
}

.btn2 {
  background-color: var(--darken);
  color: var(--light);
  font-weight: 500;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
}

h2 {
  color: var(--primary);
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  font-size: 3rem;
  word-spacing: 5px;
}

h5 {
  color: var(--primary);
  font-weight: 600;
}

/* navbar */
.navbar {
  background-color: transparent;
  backdrop-filter: blur(25px);
  box-shadow: 0 0.5rem 1rem rgba(37, 35, 35, 0.1);
}

.navbar-brand {
  color: var(--primary);
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 2.3rem;
}
.nav-link {
  font-size: 17px;
}
.navbar-brand:hover,
.nav-link:hover,
.dropdown-item:hover {
  color: var(--secondary);
}

/* title section */

.title {
  min-height: 100vh;
  background: url(Assets/bg.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.content {
  max-width: 50rem;
  padding: 2rem 9%;
}

.content h3 {
  font-size: 5rem;
  color: var(--dark);
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  word-spacing: 2px;
}

.content span {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--primary);
  padding: 1rem 0;
  line-height: 1;
}

.content p {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--dark);
  padding: 1rem 0;
  line-height: 1.5;
}

.form-fix {
  padding: 6% 6% 0 6%;
}

.card-fix {
  padding: 2% 8% 2% 8%;
}

.cardes {
  padding-top: 2%;
}

/* product-section */
.feature {
  text-align: center;
  font-weight: 600;
  font-size: 2.6rem;
  padding-top: 30px;
  text-decoration: underline;
}

.sub-head {
  text-align: center;
  margin-bottom: 20px;
}

.cart {
  margin-left: 5rem;
}

.card {
  filter: drop-shadow(4px 4px 8px #b6b1b1);
}

.card-title {
  color: #5e5f60;
}

.card-text {
  color: #8b979f;
  font-size: 15px;
}

.price {
  color: var(--primary);
  font-size: 1.4rem;
  font-weight: 700;
}

.fa-arrow-right,
.fa-arrow-down {
  margin-left: 10px;
}

/* liked-btn */
.like-img {
  position: relative;
}

.like-img .btn {
  background-color: var(--primary);
  position: absolute;
  top: 10%;
  left: 92%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.like-btn:hover {
  background-color: #24613d;
}

/* footer */
.footer {
  background-color: var(--secondary);
}

/* .anime {
  transform: skewY(-4deg);
  text-shadow: #24613d 0.1em 0.1em, #102719 0.2em 0.2em, #0c1711 0.3em 0.3em;
} */

.para {
  color: var(--dark);
}

a {
  text-decoration: none;
}

.name {
  color: var(--darken);
}

.link-el {
  color: var(--dark);
  cursor: pointer;
}

.link-el:hover {
  color: var(--darken);
}

hr {
  border: 1px solid var(--darken);
  border-radius: 5px;
}

/* responsive CSS */
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .like-img .btn {
    top: 11%;
    left: 91%;
  }
  .form-fix {
    padding: 8% 4% 0 4%;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1220px) {
  .form-fix {
    padding: 10% 4% 0 4%;
  }

  .like-img .btn {
    top: 12%;
    left: 90%;
  }

  .cart {
    margin-left: 2rem;
  }

  .card-fix {
    padding: 5% 2%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
  .form-fix {
    margin-top: 6%;
  }

  .cardes {
    padding-top: 6%;
  }
}

@media screen and (max-width: 768px) {
  .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }

  .form-fix {
    margin-top: 8%;
  }
  .cart {
    margin-left: 9rem;
  }
  .cardes {
    padding-top: 10%;
  }
}

@media screen and (min-width: 300px) and (max-width: 630px) {
  .form-fix {
    margin-top: 14%;
  }
}
